<div class="container">
  <div class="row">
    <div class="col-12">
      <a class="d-inline-block" routerLink="/course-crud">
        <div class="item-div">
          <p class="text-success">Courses</p>
        </div></a
      >

      <a class="d-inline-block" routerLink="/user-crud"
        ><div class="item-div">
          <p class="text-danger">Users</p>
        </div></a
      >

      <a class="d-inline-block" routerLink="/subject-crud"
        ><div class="item-div">
          <p class="text-warning">Subjects</p>
        </div></a
      >
    </div>
  </div>
</div>
